@{
    ViewBag.Title = "Tra cứu học viên";
}
<!DOCTYPE html>

<html>
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular-sanitize.js"></script>
    <script src="~/Scripts/modules/common.js"></script>
    <script src="~/Scripts/directives/pageDirective.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>Tra cứu học viên</title>
    <style type="text/css">
        .modal-dialog {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
        }
        .pagination li a{
            cursor:pointer;
        }
    </style>
</head>
<body ng-app="myApp" ng-controller="customersCtrl">
    <div class="container" style="margin-top: 40px;">
        <div class="row">
            <form class="form-inline">
                <div class="form-group mx-sm-3 mb-2">
                    <input ng-model="keyword" type="text" class="form-control" id="keyword" placeholder="Nội dung tìm kiếm">
                </div>
                <button type="submit" ng-click="searchkeyword()" class="btn btn-primary mb-2">
                    <i class="glyphicon glyphicon-search"></i>Tìm kiếm
                </button>
            </form>
        </div>
        <hr />
        <div class="row">
            <table id="table1" class="table table-striped table-bordered table-responsive">
                <thead>
                    <tr>
                        <th class="text-center">STT</th>
                        <th>Họ và tên</th>
                        <th class="text-center">Ngày sinh</th>
                        <th class="text-center">Quê quán</th>
                        <th class="text-center">Điện thoại</th>
                        <th class="text-center">Hình ảnh</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="x in DuLieu track by $index" ng-click="detail(x.HOV_ID)" data-toggle="modal" data-target="#modal-default" style="cursor:pointer;">
                        <td class="text-center">{{ page*pageSize +$index+1}}</td>
                        <td>{{x.HOV_FullName}}</td>
                        <td class="text-center">{{x.HOV_BirthDay}}</td>
                        <td>{{x.HOV_QueQuan}}</td>
                        <td class="text-center">{{x.HOV_Phone}}</td>
                        <td class="text-center"><img ng-src="{{x.IMG_Image}}" width="90" /></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-md-6">
                <pager-directive page="{{page}}" custom-path="{{customPath}}" pages-count="{{pagesCount}}" total-count="{{totalCount}}" search-func="getDuLieu(page)"></pager-directive> 
            </div>
            <div class="col-md-6"><span class="pull-right" style="line-height: 70px;"> Trang: {{page+1}} - Tổng số dòng: {{totalCount}}</span></div>
        </div>
    </div>

    <div class="modal fade" id="modal-default">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Thông tin chi tiết học viên</h4>
                </div>
                <div class="modal-body">
                    <div class="box-body">
                        <div class="row">
                            <div class="box-body">
                                <div class="form-group col-sm-6">
                                    <div class="row">
                                        <label for="inputCode" class="col-sm-4 control-label">Họ và tên</label>
                                        <div class="col-sm-8">{{ChiTiet.HOV_FullName}}</div>
                                    </div>
                                    <div class="row">
                                        <label for="inputCode" class="col-sm-4 control-label">Ngày sinh</label>
                                        <div class="col-sm-8">{{ChiTiet.HOV_BirthDay}}</div>
                                    </div>
                                    <div class="row">
                                        <label for="inputCode" class="col-sm-4 control-label">Quê quán</label>
                                        <div class="col-sm-8">{{ChiTiet.HOV_QueQuan}}</div>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <div class="row">
                                        <img ng-src="{{ChiTiet.IMG_Image}}" width="90" />
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="box-body">
                                <table class="table table-bordered">
                                    <tr>
                                        <th class="text-center">STT</th>
                                        <th>Số chứng chỉ</th>
                                        <th class="text-center">Loại</th>
                                        <th class="text-center">Ngày cấp</th>
                                        <th class="text-center">Ngày hết hạn</th>
                                        <th class="text-center">Tên chứng chỉ</th>
                                    </tr>
                                    <tr ng-repeat="item in ChiTiet.LISTCHUNGCHI">
                                        <td style="text-align:center;">{{ ($index + 1)}}</td>
                                        <td>{{item.CCC_SoCC}}</td>
                                        <td>{{item.CCC_Status | statusFilter}}</td>
                                        <td>
                                            {{item.CCC_NgayCap| date: 'dd/MM/yyyy'}}
                                        </td>
                                        <td>
                                            {{item.CCC_NgayHetHan| date: 'dd/MM/yyyy'}}
                                        </td>
                                        <td>{{item.CHC_Name}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Đóng</button>
                </div>
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
    </div>
</body>
</html>
<script type="text/javascript">
    var app = angular.module('myApp', ['common']);
    app.filter('statusFilter', function () {
        return function (input) {
            if (input == 1)
                return 'Cấp mới'
            else if (input == 2)
                return 'Cấp đổi'
            else if (input == 3)
                return 'Cấp lại'
            else
                return 'Chưa cấp'
        }
    });
    app.controller('customersCtrl', function ($scope, $http, $filter) {
        $scope.DuLieu = [];
        $scope.page = 0;
        $scope.pagesCount = 0;
        $scope.pageSize = 20;
        $scope.totalCount = 0;
        $scope.keyword = '';
        $scope.getDuLieu=function getDuLieu (page) {
            page = page || 0;
            $http({
                method: 'GET',
                url: '/api/HOCVIENs/danhsach?keyword='+$scope.keyword+'&page=' + page + '&pageSize=' + $scope.pageSize
            }).then(function successCallback(response) {
                $scope.DuLieu = response.data.result;
                $scope.page = page;
                $scope.pagesCount = response.data.totalPages;
                $scope.totalCount = response.data.TotalCount;
            }, function errorCallback(response) {
            });
        }
        $scope.searchkeyword = function () {
            $scope.getDuLieu();
        }
        $scope.getDuLieu();
        $scope.detail = function (id) {
            $http({
                method: 'GET',
                url: '/api/HOCVIENs/chitiet?id=' + id
            }).then(function successCallback(response) {
                $scope.ChiTiet = response.data;
                if (response.data.IMG_Image == null)
                {
                    $scope.ChiTiet.IMG_Image = "noavatar.jpg";
                }
            }, function errorCallback(response) {
            });
        }
    });   
</script>
