USE [QLTV]
GO
/****** Object:  StoredProcedure [dbo].[Get_DsHV_DuocCapCC_Doi]    Script Date: 06/20/2016 20:23:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[Get_DsHV_DuocCapCC_Doi]
@CCC_CHCID INT,
@CCC_Status int,
@CCC_SoHieu nvarchar (50)
AS

SET NOCOUNT ON
SET TRANSACTION ISOLATION LEVEL READ COMMITTED

SELECT
 [DOI_ID],
	[DOI_Code],
	[DOI_HOVID],
	[DOI_CHCID],
	[DOI_NgayCap],
	[DOI_Ngay_KG],
	[DOI_Ngay_KT],
	[DOI_Ngay_QD],
	DOI_CHUNGCHI.DOI_SoCC, SUBSTRING( CAP_CHUNGCHI.CCC_SoCC,0,6) as SoCcs,
	CAP_CHUNGCHI.CCC_NgayCap, CAP_CHUNGCHI.CCC_ID,
	vHocVienImage.*

FROM 
	CAP_CHUNGCHI,
	CHUNG_CHI, 
	DOI_CHUNGCHI,
	vHocVienImage
		
WHERE
	vHocVienImage.HOV_ID = CAP_CHUNGCHI.CCC_HOVID
	AND
	CHUNG_CHI.CHC_ID = CAP_CHUNGCHI.CCC_CHCID
	AND
	CAP_CHUNGCHI.CCC_CHCID = @CCC_CHCID
	AND
	CAP_CHUNGCHI.CCC_Status = @CCC_Status
	AND
	CAP_CHUNGCHI.CCC_SoHieuDoi = @CCC_SoHieu
	AND
	DOI_CHUNGCHI.DOI_ID = CAP_CHUNGCHI.CCC_DOIID
order by SoCCs ASC
--endregion

