USE [QLTV]
GO
/****** Object:  StoredProcedure [dbo].[GetHocVien_DangKiHoc]    Script Date: 06/07/2016 19:27:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[GetHocVien_DangKiHoc]
	@Lop_ID int
AS
BEGIN
	SET NOCOUNT ON;

	SELECT
	DANG_KI_HOC.DKH_ID,HOCVIEN.HOV_ID,HOCVIEN.HOV_Code, HOCVIEN.HOV_FirstName,HOCVIEN.HOV_LastName,HOV_BirthDay,HOV_Phone
	, HOV_DonVi,HOV_NoiSinh
	, DANG_KI_HOC.DKH_BienLai, HOCVIEN.HOV_GhiChu, HOCVIEN.HOV_Address, DANG_KI_HOC.DKH_Code, DANG_KI_HOC.DKH_Diem
	, DANG_KI_HOC.DKH_HOVID, DANG_KI_HOC.DKH_LanThi,DON_Name,TIN_Name,TIN_ID
	
	FROM DANG_KI_HOC,LOP,HOCVIEN,DONVI,TINH
	WHERE 
	DANG_KI_HOC.DKH_HOVID = HOCVIEN.HOV_ID
	AND
	DANG_KI_HOC.DKH_LOPID = LOP.LOP_ID
	AND
	DANG_KI_HOC.DKH_LOPID = @Lop_ID
	AND
	HOCVIEN.HOV_DonVi = DONVI.DON_ID
	AND
	HOCVIEN.HOV_NoiSinh = TINH.TIN_ID 
	
	ORDER BY DANG_KI_HOC.DKH_ID DESC
	
END
