USE [QLTV]
GO
/****** Object:  StoredProcedure [dbo].[GetHocVien_DangKiHoc]    Script Date: 06/07/2016 19:27:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[GetHocVien_DangKiHoc]
	@Lop_ID int
AS
BEGIN
	SET NOCOUNT ON;

	SELECT
	DANG_KI_HOC.DKH_ID, DANG_KI_HOC.DKH_BienLai,
	DANG_KI_HOC.DKH_Code, DANG_KI_HOC.DKH_Diem, 
	DANG_KI_HOC.DKH_HOVID, DANG_KI_HOC.DKH_LanThi,
	vHocVienImage.*
	FROM 
	DANG_KI_HOC,LOP,
	vHocVienImage
	WHERE 
	DANG_KI_HOC.DKH_HOVID = vHocVienImage.HOV_ID
	AND
	DANG_KI_HOC.DKH_LOPID = LOP.LOP_ID
	AND
	DANG_KI_HOC.DKH_LOPID = @Lop_ID
	
	ORDER BY DANG_KI_HOC.DKH_ID DESC
	
END
