USE [QLTV]
GO
/****** Object:  StoredProcedure [dbo].[getPrint_CcDoi]    Script Date: 16-Jun-16 6:56:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[getPrint_CcDoi]
@CCC_CHCID int,
@CCC_Status int,
@CCC_SoHieuDoi nvarchar(50)
AS

SET NOCOUNT ON
SET TRANSACTION ISOLATION LEVEL READ COMMITTED


select HOCVIEN.HOV_FirstName, HOCVIEN.HOV_LastName, HOCVIEN.HOV_BirthDay, HOCVIEN.HOV_QuocTich, HOCVIEN.HOV_NoiSinh,TINH.TIN_Name
		,CAP_CHUNGCHI.CCC_SoCC, CAP_CHUNGCHI.CCC_NgayCap, CAP_CHUNGCHI.CCC_NgayHetHan, CAP_CHUNGCHI.CCC_SoHieuDoi
		, CHUNG_CHI.CHC_ID, CHUNG_CHI.CHC_Name, DOI_CHUNGCHI.DOI_Ngay_KG, DOI_CHUNGCHI.DOI_Ngay_KT
		,CHUNG_CHI.CHC_Content1, CHUNG_CHI.CHC_Content2,CHUNG_CHI.CHC_Content3,CHUNG_CHI.CHC_Content4
		,CHUNG_CHI.CHC_ModleCode, CHUNG_CHI.CHC_QuyDinh, CHUNG_CHI.CHC_QuyDinhEngl, CHUNG_CHI.CHC_QuyTac, CHUNG_CHI.CHC_Static,
		 DOI_CHUNGCHI.DOI_Ngay_QD
		 ,CHUNG_CHI.CHC_FontSize1,CHUNG_CHI.CHC_FontSize2,CHUNG_CHI.CHC_FontSize3,CHUNG_CHI.CHC_FontSize4
from CAP_CHUNGCHI,
	HOCVIEN,
	CHUNG_CHI, 
	DOI_CHUNGCHI,TINH
	
where 
--CAP_CHUNGCHI.CCC_CHCID = @CCC_CHCID
--and CAP_CHUNGCHI.CCC_Status = @CCC_Status
--and
--HOCVIEN.HOV_ID = CAP_CHUNGCHI.CCC_HOVID
--and 
--CAP_CHUNGCHI.CCC_SoHieuDoi = @CCC_SoHieuDoi
--and
--CHUNG_CHI.CHC_ID = CAP_CHUNGCHI.CCC_CHCID
--and 
--DOI_CHUNGCHI.DOI_SoCC = CAP_CHUNGCHI.CCC_SoCC
--AND
--DOI_CHUNGCHI.DOI_HOVID = CAP_CHUNGCHI.CCC_HOVID -> DELETE 2014-9-23
HOCVIEN.HOV_ID = CAP_CHUNGCHI.CCC_HOVID
	AND
	CHUNG_CHI.CHC_ID = CAP_CHUNGCHI.CCC_CHCID
	AND
	CAP_CHUNGCHI.CCC_CHCID = @CCC_CHCID
	AND
	CAP_CHUNGCHI.CCC_Status = @CCC_Status
	AND
	CAP_CHUNGCHI.CCC_SoHieuDoi = @CCC_SoHieuDoi
	AND
	DOI_CHUNGCHI.DOI_ID = CAP_CHUNGCHI.CCC_DOIID
	AND
    TINH.TIN_ID = HOCVIEN.HOV_NoiSinh

--endregion

