USE [QLTV]
GO
/****** Object:  StoredProcedure [dbo].[usp_SelectDOI_CHUNGCHI_ByHocCCID]    Script Date: 06/02/2016 20:32:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[usp_SelectDOI_CHUNGCHI_ByHocCCID]
	@DOI_CHCID int
AS

SET NOCOUNT ON
SET TRANSACTION ISOLATION LEVEL READ COMMITTED

SELECT
	--DISTINCT([DOI_ID]),
	DOI_ID,
	[DOI_Code],
	[DOI_HOVID],
	[DOI_CHCID],
	[DOI_NgayCap],
	[DOI_Ngay_KG],
	[DOI_Ngay_KT],
	[DOI_Ngay_QD],
	DOI_CHUNGCHI.DOI_SoCC, SUBSTRING( CAP_CHUNGCHI.CCC_SoCC,0,6) as SoCcs,
	--HOCVIEN.HOV_FirstName,
	--HOCVIEN.HOV_LastName,
	--HOCVIEN.HOV_NoiSinh,
	--HOCVIEN.HOV_BirthDay,
	--HOCVIEN.HOV_Phone,
	--HOCVIEN.HOV_DonVi,
	--HOCVIEN.HOV_Code,
	--HOCVIEN.HOV_Address,
	--HOCVIEN.HOV_ChucDanh,
	--HOCVIEN.HOV_GhiChu, 
	--HOCVIEN.HOV_ID,
	CAP_CHUNGCHI.CCC_NgayCap, CAP_CHUNGCHI.CCC_ID,
	--TINH.TIN_Name,DONVI.DON_Name
	--,HOCVIEN_IMG.*
	vHocVienImage.*
	FROM
	[dbo].[DOI_CHUNGCHI],
	--[dbo].[HOCVIEN],
	[dbo].CAP_CHUNGCHI
	--DONVI, TINH
	,vHocVienImage
	--,HOCVIEN_IMG
	
WHERE
	--HOCVIEN.HOV_ID = DOI_CHUNGCHI.DOI_HOVID
	--and
	DOI_CHUNGCHI.DOI_CHCID =@DOI_CHCID
	AND
	DOI_CHUNGCHI.DOI_HOVID = vHocVienImage.HOV_ID
	AND
	DOI_CHUNGCHI.DOI_ID = CAP_CHUNGCHI.CCC_DOIID
	--and
	--CAP_CHUNGCHI.CCC_CHCID = DOI_CHUNGCHI.DOI_CHCID
	--and
	--CAP_CHUNGCHI.CCC_SoCC = DOI_CHUNGCHI.DOI_SoCC
	--and 
	--CAP_CHUNGCHI.CCC_HOVID = DOI_CHUNGCHI.DOI_HOVID
	--AND 
	--HOCVIEN.HOV_DonVi = DONVI.DON_ID
	--AND
	--HOCVIEN.HOV_NoiSinh = TINH.TIN_ID
	--AND
	--HOCVIEN_IMG.IMG_HOVID =HOCVIEN.HOV_ID 
ORDER By SoCcs ASC
--endregion

